asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.2.0
Django==4.2.3
gunicorn==20.1.0
heroku==0.1.4
idna==3.4
leaflet==0.0.3
psycopg2-binary==2.9.6
python-dateutil==1.5
requests==2.31.0
sqlparse==0.4.4
urllib3==2.0.3
Django==4.2.3
gunicorn==20.1.0
leaflet==0.0.3
numpy==1.25.1
psycopg2==2.9.6
pycodestyle==2.10.0
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.5.0
GDAL==3.6.4
